BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000

DATABASE_URL=

RESEND_API_KEY=
RESEND_FROM_EMAIL=Chatbot <onboarding@resend.dev>

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

YANDEX_CLIENT_ID=
YANDEX_CLIENT_SECRET=
